<footer class="site-footer" aria-labelledby="footer-title">
  <div class="site-footer__inner">
    <div class="site-footer__block">
      <h2 class="site-footer__title" id="footer-title">Las Tuerces</h2>
      <p class="site-footer__text">
        Paisaje Natural en Palencia. Proyecto académico desarrollado con UOC Boilerplate.
      </p>
    </div>

    <div class="site-footer__block">
      <h2 class="site-footer__title">Contacto</h2>
      <ul class="site-footer__list">
        <li class="site-footer__item">
          <a class="site-footer__link" href="mailto:turismo@amigostuerces.es">
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            <span>turismo@amigostuerces.es</span>
          </a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="tel:+34979711111">
            <i class="fa-solid fa-phone" aria-hidden="true"></i>
            <span>+34 979 711 111</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="site-footer__block">
      <h2 class="site-footer__title">Síguenos</h2>
      <ul class="site-footer__list site-footer__list--social">
        <li class="site-footer__item">
          <a class="site-footer__link" href="https://www.instagram.com/explore/locations/269305439/las-tuerces/" target="_blank" rel="noreferrer">
            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="https://www.facebook.com/pages/Las%20Tuerces/218246578564555/" target="_blank" rel="noreferrer">
            <i class="fa-brands fa-facebook" aria-hidden="true"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li class="site-footer__item">
          <a class="site-footer__link" href="https://www.youtube.com/watch?v=Bs1F2Kk-o2w" target="_blank" rel="noreferrer">
            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
            <span>YouTube</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="site-footer__block">
      <h2 class="site-footer__title">Enlaces</h2>
      <ul class="site-footer__list">
        <li class="site-footer__item"><a class="site-footer__link" href="#inicio">Inicio</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="#rutas">Rutas</a></li>
        <li class="site-footer__item"><a class="site-footer__link" href="#contacto">Accesibilidad</a></li>
      </ul>
    </div>
  </div>
  <p class="site-footer__copyright">2026 Las Tuerces · Rubén Infante Docio.</p>
</footer>
