{
 "extends": ["stylelint-config-sass-guidelines"],
 "rules": {
  "selector-max-id": 0,
  "selector-no-qualifying-type": [
   true,
   {
	"ignore": ["attribute", "class"]
   }
  ],
  "selector-class-pattern": [
   "^[a-z][a-z0-9]*(?:-[a-z0-9]+)*(?:__(?:[a-z0-9]+(?:-[a-z0-9]+)*))?(?:--(?:[a-z0-9]+(?:-[a-z0-9]+)*))?$",
   {
	"resolveNestedSelectors": true,
	"message": "Usa nomenclatura BEM: bloque, bloque__elemento, bloque--modificador o bloque__elemento--modificador"
   }
  ]
 }
}